body {

	background-color: #9FEAE4;
}

h1 {

	color: #086058;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: 900;
}

h2 {

	color: #086058;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: 400;

}

h5 {

	color: #086058;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: 400;

}

div {
	
	text-align: center;

}


.btn-xl {
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
}

#covid-info {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	background-color: #002540;
	color: white;
}


#pre-footer {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	background-color: #002540;
	color: white;
}



footer {
	display: flex;
	justify-content: center;
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}